.cache
.org-id-locations
basic-setup.el
eln-cache
elpa
elpy
environment-setup.el
eshell
history
keybindings.el
linux-setup.el
modal-editing.el
persist
proglang-modern-setup.el
proglang-oldschool-setup.el
programming-common-setup.el
projectile-bookmarks.*
recentf
request
semanticdb
session.*
text_gtd-setup.el
transient
var
windows-setup.el
